.btn-action {
  text-align: center;
  width: 100% !important;
  margin-top: 15px !important;
}

.align-center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.mg-top-100 {
  margin-top: 100px;
}

.border-bottom-line {
  border-bottom: 1px solid gray;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}